@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }
}
body {
    background-image: url('../img/images.jpg');
    background-size: cover;
    /*background-repeat:round;*/
}

div > h1 {
   color: #e50808;
   font-family: 'Ubuntu', sans-serif;
}
div > h2{
    color: #a41515;
}
body > div > nav > div > a > h4 {
   color: #1c7707;
   /*font-family: 'Ubuntu', sans-serif;*/
}
.article-block {
   background: #b01515;
   color: #4b3d12;
   /*font-family: 'Ubuntu', sans-serif;*/
   box-shadow: 2px 2px 1px #170b0b;
   padding: 10px;
   margin: 10px;
}
.article-block a {
   color: #997404;
   /*font-family: 'Ubuntu', sans-serif;*/
}

body > div > nav > div{
    margin: 0 5px;
}
div.container-image > img {
    width: 100%;
}

